
@font-face {
   font-family: Poppins;
   src:url("../src/font/Poppins-Regular.ttf");
}
@font-face {
   font-family: Popins;
   src:url("../src/font/Poppins-Medium.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {
   --font-poppins: Poppins,"sans-serif";
   --font-popins: Popins,"sans-serif";
  
}
.font-poppins{
   font-family: 'Poppins', sans-serif;
}
.font-popins{
   font-family: 'popins', sans-serif;
}
body {
    font-family: 'Popins', sans-serif; margin: 0; color: white; 
    background: #1e293b;
    overflow-x: hidden;
    height: 100%;
    overflow-y: scroll;
    background: #f5f5f5;
}
h1 {
    text-align: center; margin-top: 70px; font-weight: 300;
}

 .video-docker video {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .video-docker::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }

.navbar-fixed {
   @apply fixed z-[9999] bg-white bg-opacity-70;
   backdrop-filter: blur(5px);
   box-shadow : inset 0 1px 0 0 rgba(0,0,0,0.1);
}
.navbar{
   position:relative;
}

.navbar::after {
   content:"";
   position:absolute;
   left:0;
   bottom:0;
   width:100%;
   height:1px;
   background:black;
}
.hamburgerLine{
   @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.hamburger-active > span:nth-child(1) {
   @apply  rotate-45;
}
 
.hamburger-active > span:nth-child(2) {
   @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
   @apply  -rotate-45;
}
{margin-bottom:5em}
 [x-cloak] { display: none; }


:root {
  --c-bg: snow;
  --c-scrollbar: lightsteelblue;
  --c-scrollbar-hover: #000;
}
::selection {
  background: #8884;
}
* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}
